.intro{
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.id-photo{
  width: 160px;
  height: 200px;
  object-fit: cover;
  flex: 0 0 160px;
}

.intro-right{ flex: 1; }

.underline {
  text-decoration: underline;
  text-underline-offset: 4px;
}


@media (max-width: 430px){
  .intro{
    display: grid;
    grid-template-columns: 160px 1fr; 
    column-gap: 16px;
    row-gap: 12px;
    align-items: start;
  }

 
  .intro-right{
    display: contents;
  }

  .id-photo{
    grid-column: 1;
    grid-row: 1;
  }

  .intro-welcome{
    grid-column: 2;
    grid-row: 1;
    margin: 0;
  }

  .intro-rest{
    grid-column: 1 / -1;
    grid-row: 2;
  }
}
