
.intro {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.id-photo {
  width: 160px;
  height: 200px;
  object-fit: cover;
  flex-shrink: 0;
}

.intro-right {
  flex: 1;
}



.intro-secondary {
  margin-top: 8px;
}


@media (max-width: 600px) {
  .intro {
    flex-wrap: nowrap; /* ⬅️ clé : on empêche le wrap général */
  }

  .intro-right {
    display: flex;
    flex-direction: column;
  }

  .intro-rest {
    margin-top: 12px;
  }
}
